{% extends 'project/base.html' %}
{% block title %}Homepage{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}

{% for project in projects %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h3>{{project.name}}</h3>
        </div>

        <div class="panel-body">
          <div class="table-responsive-sm">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Application Name</th>
                  <th>Application Access</th>
                  <th>Application Notes</th>
                  <th>Finish</th>
                </tr>
              </thead>
              {% for application in applications %}
              <tbody>
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{application.name}}</td>
                  <td>{{application.access}}</td>
                  <td>{{application.notes}}</td>
                  <td>
                    <span class="glyphicon glyphicon-unchecked"></span>OK
                  </td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
            <br>
            <a href="#" class="btn btn-danger " onclick="return Delete_Application({{a.id}})"
              style="background-color: red; border: none;">
              <span class="glyphicon glyphicon-remove-sign" style="background-color: red"></span> Remove
            </a>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
{% endfor %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <a href="{% url 'project:create_project' %}" class="btn btn-success btn-lg" style="border:none">
        <span class="glyphicon glyphicon-plus-sign"></span> New Project
      </a>
    </div>
  </div>
</div>

{% endblock %}